.navbar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 10px;
  gap: 40px;
  width: 125px;
  height: 1070px;
  float: left;
  border-right: 1px #e2e6ff solid;
}

.icons{
  max-height: 5vh;
  max-width:  4vh;
  cursor: pointer;
}
.logo{
  max-height: 8vh;
  max-width:  8vw;
  cursor: pointer;
  margin-bottom: 20px;
}
.link{
  all: unset;
}
